.bg-container-up {
  @media screen and (max-width: 360px) {
    background-position: left bottom 630px;
  }
  @media screen and (min-width: 360px) and (max-width: 580px) {
    background-position: left bottom 570px;
  }
  @media screen and (min-width: 580px) and (max-width: 768px) {
    background-position: left bottom 500px;
  }
}

.bg-container-down {
  @media screen and (max-width: 360px) {
    background-position: right top 20px;
  }
  @media screen and (min-width: 360px) and (max-width: 420px) {
    background-position: right top 10px;
  }
  @media screen and (min-width: 420px) and (max-width: 768px) {
    background-position: right top -20px;
  }
}

.bg-container-bottom {
  @media screen and (max-width: 360px) {
    background-position: left bottom 330px;
  }
  @media screen and (min-width: 360px) and (max-width: 540px) {
    background-position: left bottom 230px;
  }
  @media screen and (min-width: 540px) and (max-width: 768px) {
    background-position: left bottom 130px;
  }
}

@media screen and (max-width: 768px) {
  .bg-container-up {
    background-image: url('../images/bg/bg-up-mobile.svg');
    // background-position: left bottom 619px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-down {
    background-image: url('../images/bg/bg-down-mobile.svg');
    background-position: right top 25px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-bottom {
    background-image: url('../images/bg/bg-down-mobile.svg');
    // background-position: left bottom 330px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bg-container-up {
    background-image: url('../images/bg/bg-up-tablet.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-down {
    padding-top: 40px;
    background-image: url('../images/bg/bg-down-tablet.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-bottom {
    background-image: url('../images/desktop/kisspng-party-confetti-desktop.png'),
      url('../images/bg/bg-down-tablet.svg');
    background-position: right bottom 290px, left bottom 100px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% auto;
  }
}

@media screen and (min-width: 1279px) {
  .bg-container-up {
    background-image: url('../images/bg/bg-up-desktop.svg');
    background-position: left bottom 60px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-down {
    background-image: url('../images/bg/bg-down-desktop.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .bg-container-bottom {
    background-image: url('../images/desktop/kisspng-party-confetti-desktop.png'),
      url('../images/bg/bg-down-desktop.svg');
    background-position: right 50px bottom 290px, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% auto;
  }
}
