.about-us__conteiner {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;

    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .about-us__bloc {
    padding-right: 158px;
  }
}
.about-us__title {
  text-align: center;
  @media screen and (min-width: 1280px) {
    text-align: start;
  }
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.about-us__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.about-us__image {
  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: 76px;
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Less';
}

.read-more-trigger {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  /* identical to box height, or 361% */

  text-align: center;

  color: #ab816c;
}
