.about-us {
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 190px;
  }
}
.about-us__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 158px;
    padding-left: 158px;
  }
}
.about-us__block {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 290px) / 1);
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 430px) / 1);
  }
}

.about-us__title {
  text-align: center;
  @media screen and (min-width: 1280px) {
    text-align: start;
  }
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.about-us__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
  margin-bottom: 18px;

  &:nth-child(5) {
    margin-bottom: 0;
  }

  @media screen and(min-width: 1280px) {
    font-size: 18px;
  }
}

.about-us__image {
  @media screen and (min-width: 768px) {
    position: absolute;
    left: -58px;
    top: 0;
  }
  @media screen and(min-width: 1280px) {
    left: -5px;
    top: -95px;
  }
}
.about-us__read-more {
  display: none;
}
@media screen and (max-width: 1279px) {
  .about-us__read-more-text {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.3s ease;
  }
  .about-us__read-more:checked ~ .about-us__read-more-text {
    opacity: 1;
    font-size: 16px;
    max-height: 999em;
  }
  .about-us__read-more ~ .read-more-trigger:before {
    content: 'Read more';
  }
  .about-us__read-more:checked ~ .read-more-trigger:before {
    content: 'Less';
  }
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;
    font-family: Caveat Brush;
    font-size: 18px;

    color: var(--secondary-color);
  }
}
