.contacts-form__input {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  display: block;
  background-color: transparent;
  &::placeholder {
    color: var(--ph-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  &:focus-within {
    outline: none;
  }
  width: 265px;
  @media screen and (min-width: 767px) {
    width: 410px;
  }
  @media screen and (min-width: 1279px) {
    width: 430px;
  }
}
.comment {
  resize: none;
}
.contacts-form__field {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  &:nth-child(2) {
    margin-bottom: 37px;
  }
  background-color: transparent;
}

.contacts__title {
  text-align: center;
}
.contacts__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.9;
  text-align: center;
  color: var(--text-color);
}
.contacts-form__wrapper {
  display: flex;
  justify-content: center;
}

.contacts {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts__button {
  outline: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--hover-focus-color);
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
