.header {
  &__donuts {
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: 768px) and (max-width: 1279.98px) {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      left: auto;
      right: 0;
    }
  }

  &__eightdonuts {
    width: 120px;
    height: 115px;

    @media screen and (min-width: 768px) {
      width: 375px;
      height: 360px;
    }

    @media screen and (min-width: 1280px) {
      width: 730px;
      height: 645px;
    }
  }
}

.hero__container {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.hero__spoon {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  padding-top: 33px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
    padding-left: 0;
    padding-top: 10px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    padding-left: 158px;
    padding-top: 57px;
  }
}

.hero__title {
  color: var(--text-color);
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  max-width: 224px;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 3px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    max-width: 490px;
    font-size: 64px;
    line-height: 65px;
    text-align: left;
    margin-bottom: 15px;
  }
}
.hero__title-name {
  color: var(--text-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;

  font-size: 16px;
  line-height: 20px;
  margin-bottom: 26px;
  margin-bottom: 37px;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
    margin-bottom: 30px;
  }
}

.hero__socials {
  margin-top: 45px;

  @media screen and (min-width: 768px) and(max-width:1279px) {
    margin-top: 31px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 65px;
  }
}
.header__powder {
  @media screen and (max-width: 1179px) {
    display: none;
  }
  position: absolute;
  right: 60px;
  z-index: 2;
  top: -19px;
  opacity: 0;
  transition: opacity 800ms linear;
  &:hover {
    opacity: 1;
  }
}
