:root {
  --accent-color: #fef3e4;
  --secondary-color: #ab816c;
  //   secondary-color: button bgc, star bgc, spoiler color,
  --primary-white-color: #ffffff;
  --text-color: #2e2520;
  --ph-color: #rgba(171, 129, 108, 0.5);
  --milky-background-color: #fffff9;
  --hover-focus-color: #876655;
  --program-event-title: #000000;
}
