:root {
  --accent-color: #fef3e4;
  --secondary-color: #ab816c;
  //   secondary-color: button bgc, star bgc, spoiler color,
  --primary-white-color: #ffffff;
  --text-color: #2e2520;
  --ph-color: rgba(171, 129, 108, 0.5);
  --milky-background-color: #fffff9;
  --hover-focus-color: #876655;
  --program-event-title: #000000;

  --registration-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
