<a class="back_to_top" title="Наверх">
     <source class="img"
                  srcset="../src/images/mobile/donut-1-mobile=tablet.png 1x, ../src/images/mobile/donut-1-mobile=tablet@2x.png 2x"
               media="(max-width: 1279px)" />
                <source srcset="../src/images/desktop/donut-1-desktop.png 1x, ../src/images/desktop/donut-1-desktop.png 2x"
                  media="(min-width: 1280px)" type="image/png"/>
                  <img  src="../src/images/mobile/donut-1-mobile=tablet.png" alt="пончик 1">
              </picture> </a>