 <footer>
        <h2>Contact</h2>
        <p>We will answer any question!</p>
        <form class="footer-form">
            <label class="footer-form__field">
                <input type="text" class="footer-form__input" name="E-mail" placeholder="Email " />
            </label>
            <label class="footer-form__field">
                <input type="text" class="footer-form__input" name="type your question" placeholder="Type your question" />
            </label>
        </form>

    </footer>

    <include src="./partials/socials.html"></include>