<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__socials">
        <include src="./partials/socials.html"></include>
      </div>
      <div class="footer__contacts">
        <a class="footer__link tel link" href="tel:9102228855">
          <svg class="footer__icon" width="13" height="13">
            <use href="../src/images/sprite.svg#icon-phone"></use>
          </svg>
          (910)222-8855</a
        >
        <button class="footer__button" data-modal-open type="button">New York</button>
      </div>
    </div>
    <picture class="footer__img">
      <source
        srcset="
          ./images/desktop/spoon-in-plate-desktop.png    1x,
          ./images/desktop/spoon-in-plate-desktop@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/tablet/spoon-in-plate-tablet.png    1x,
          ./images/tablet/spoon-in-plate-tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/mobile/spoon-in-plate-mobile.png    1x,
          ./images/mobile/spoon-in-plate-mobile@2x.png 2x
        "
        media="(max-width:767.98px)"
      />

      <img class="" src="./images/Wheat_flour.png" alt="spoon in plate" />
    </picture>
  </div>
</footer>

<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modalmap">
    <h2 class="title modalmap__title">We are here</h2>
    <iframe
      class="modalmap__iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.0540129053275!2d-74.00201568255619!3d40.73883699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bde7d530ed%3A0x8f80ffcbdc2babbe!2sThe%20Donut%20Pub!5e0!3m2!1sru!2sua!4v1621067506427!5m2!1sru!2sua"
      width="450"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <button class="modalmap__close-button" data-modal-close>
      <span class="close-symbol"><b>х</b></span>
    </button>
  </div>
</div>
