<footer class="footer">
  <div class="container">
    <div class="footer__socials">
      <include src="./partials/socials.html"></include>
    </div>
    <div class="footer__contacts">
      <a class="footer__link tel link" href="tel:9102228855">
        <svg class="footer__icon" width="13" height="13">
          <use href="../src/images/sprite.svg#icon-phone"></use>
        </svg>
        (910)222-8855</a
      >
      <a class="footer__link location link" href="">
        <svg class="footer__icon" width="11" height="15">
          <use href="../src/images/sprite.svg#icon-location"></use>
        </svg>
        New York</a
      >
    </div>
  </div>
</footer>
