<header class="header">

  <!-- menu -->
  <div class="container header__container">
    <picture class="header__donuts--tablet">
      <source srcset="
          ./images/tablet/eight-donuts-tablet.png 1x,
          ./images/tablet/eight-donuts-tablet@2x.png 2x
        " media="(min-width: 768px)" />
      <img class="header__eightdonuts" src="./images/desktop/eight-donuts-desktop.png" alt="eight-donuts" />
    </picture>
  
    <nav class="navigation">
      <!-- logo -->
      <a class="link navigation__logo" href="" data-aos="fade-down"
     data-aos-duration="3000">
        <svg class="icon-logo" >
          <use class="" href="/images/logo/logo.svg#logo"></use>
        </svg>
      </a>

  
      <ul class="navigation__list list">
        <li class="navigation__item" data-aos="fade-up"
     data-aos-duration="3000">
          <a class="scroll-to navigation__link link navigation__link--swing" href="#about-us">About us</a>
        </li>
        <li class="navigation__item navigation__item--swing" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
          <a class="scroll-to navigation__link link navigation__link--swing" href="#program">Program</a>
        </li>
        <li class="navigation__item navigation__item--swing" data-aos="fade-up"
     data-aos-duration="3000">
          <a class="scroll-to navigation__link link navigation__link--swing" href="#reviews">Reviews</a>
        </li>
        <li class="navigation__item navigation__item--swing" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
          <a class="scroll-to navigation__link link navigation__link--swing" href="#contacts">Contacts</a>
        </li>
      </ul>
  
      <button class="menu__button" type="button" aria-expanded="false" data-menu-button>
        <svg class="menu__icon" width="30" height="18" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="/images/sprite.svg#icon-menu"></use>
          <use class="icon-menu-close" href="/images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  
    <div class="menu__container" data-menu>
      <a class="link menu__logo" href="">
        <svg class="menu__icon" width="190" height="85" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="/images/logo/logo.svg#logo"></use>
        </svg>
      </a>
      <ul class="menu__list list">
        <li class="menu__item"><a class="scroll-to menu__link link" href="#about-us">About us</a></li>
        <li class="menu__item"><a class="scroll-to menu__link link" href="#program">Program</a></li>
        <li class="menu__item"><a class="scroll-to menu__link link" href="#reviews">Reviews</a></li>
        <li class="menu__item"><a class="scroll-to menu__link link" href="#contacts">Contacts</a></li>
      </ul>
    </div>
  </div>

  <div class="header__donuts">
    <img class="header__powder" src="./images/sugar.png" alt="" />
    <picture>
      <source
        srcset="
          ./images/desktop/eight-donuts-desktop.png    1x,
          ./images/desktop/eight-donuts-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./images/mobile/eight-donuts-mobile.png    1x,
          ./images/mobile/eight-donuts-mobile@2x.png 2x
        "
        media="(max-width: 767.98px)"
      />
      <img
        class="header__eightdonuts"
        src="./images/desktop/eight-donuts-desktop.png"
        alt="eight-donuts"
      />
    </picture>
  </div>

  <section class="hero">
    <div class="container hero__container">
      <div class="hero__spoon">
        <picture>
          <source
            srcset="./images/desktop/spoon.png 1x, ./images/desktop/spoon@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img src="./images/desktop/spoon@2x.png" alt="spoon" />
        </picture>
      </div>
      <div class="hero__info">
        <h1 class="hero__title">
          Donut Masterclass <br />
          with the Donut King
        </h1>
        <p class="hero__title-name">Hosted by Eva Green</p>
        <button type="button" class="button" onclick="location.href='#registration'">
          Register
        </button>
        <div class="hero__socials">
          <include src="./partials/socials.html"></include>
        </div>
      </div>
    </div>
  </section>
</header>
