<header class="header">
    <nav class="navigation">
    <a class="logo header__logo" href="./"><img src="/src/images/logo.svg" width="158" height="71" alt="логотип"></a>
    <ul class="list menu">
      <li class="menu__item" ><a class="link" href="">About us</a></li>
      <li class="menu__item"><a class="link" href="">Program</a></li>
      <li class="menu__item"><a class="link" href="">Reviews</a></li>
      <li class="menu__item"><a class="link" href="">Contacts</a></li>
    </ul>
    </nav> 
  </header>