<section class="agenda">
  <div class="container agenda__container">
    <div class="program">
      <h2 class="title">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
        <p class="program__text">
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </p>
      </ul>
    </div>
    <ul class="agenda__list">
      <li class="agenda__item">
        <h3 class="title__secondary">Type of the event</h3>
        <p class="agenda__text">Cooking classes</p>
      </li>
      <li class="agenda__item">
        <h3 class="title__secondary">Number of guests</h3>
        <p class="agenda__text">1 to 20</p>
      </li>
      <li class="agenda__item">
        <h3 class="title__secondary">Time of the event</h3>
        <p class="agenda__text">18:30 (2.5 hours)</p>
      </li>
      <li class="agenda__item">
        <h3 class="title__secondary">The host speaks</h3>
        <p class="agenda__text">English, French</p>
      </li>
    </ul>
  </div>
</section>
