<section id="registration" class="registration">
  <div class="container">
    <div class="registration__global-case">
      <h2 class="registration__title title">Registration</h2>
      <form class="registration-form" data-aos="fade-up" data-aos-duration="3000">
        <div class="registration-form__info-case">
          <p class="registration-form__time">May 23, 11:00 New York</p>
          <p class="registration-form__cost">$ 699</p>
        </div>
        <div class="registration-form__input-case">
          <p class="registration-form__descr">Apply your personal info for registration</p>
          <label class="registration-form__label">
            <input
              class="registration-form__input"
              type="text"
              name="name"
              placeholder="Your name"
              autocomplete="on"
              required
              minlength="2"
              maxlength="20"
              id="name-form"
            />
          </label>
          <label class="registration-form__label">
            <input
              id="phone2"
              class="registration-form__input"
              type="tel"
              name="tel"
              placeholder="+380 (97)-111-11-11"
              pattern="^\+380(\s+)?\(?(67|68|96|97|98|50|66|63|93|)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$"
              autocomplete="on"
              required
              maxlength="20"
            />
          </label>
          <label class="registration-form__label">
            <input
              class="registration-form__input"
              type="email"
              name="email"
              placeholder="example@gmail.com"
              autocomplete="on"
              required
              maxlength="20"
              id="email-form"
            />
          </label>
        </div>
        <div class="registration-form__btn-case">
          <button type="submit" class="button">Register</button>
        </div>
        <picture class="registration-donut-hide">
          <source
            srcset="
              ./images/desktop/donut-3-desktop@2x.png 1x,
              ./images/desktop/donut-3-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="registration-donut__img"
            src="./images/desktop/donut-3-desktop@2x.png"
            alt="Eated donut"
            width="130"
          />
        </picture>
      </form>
      <picture class="registration-donut">
        <source
          srcset="
            ./images/tablet/donut-5-tablet=desktop.png    1x,
            ./images/tablet/donut-5-tablet=desktop@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="registration-donut__img"
          src="./images/tablet/donut-5-tablet=desktop.png"
          alt="Eated donut"
          width="250"
        />
      </picture>
    </div>
  </div>
  <picture class="registration-confetti">
    <source
      srcset="
        ./images/desktop/kisspng-party-confetti-desktop.png    1x,
        ./images/desktop/kisspng-party-confetti-desktop@2x.png 2x
      "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./images/tablet/kisspng-party-confetti-tablet.png    1x,
        ./images/tablet/kisspng-party-confetti-tablet@2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <img
      class="registration-confetti__img"
      src="./images/desktop/kisspng-party-confetti-desktop@2x.png"
      alt="Eated donut"
      width="130"
    />
  </picture>
</section>
