<section class="registration">
  <div class="container container-tablet">
    <div class="registration__global-case">
      <h2 class="registration__title title">Registration</h2>
      <form class="registration-form">
        <div class="registration-form__info-case">
          <p class="registration-form__time">May 23, 11:00</p>
          <p class="registration-form__place">New York</p>
          <p class="registration-form__cost">$ 699</p>
        </div>
        <div class="registration-form__input-case">
          <p class="registration-form__descr">Apply your personal info for registration</p>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Your name" />
          </label>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Phone number" />
          </label>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Email" />
          </label>
        </div>
        <div class="registration-form__btn-case">
          <button type="submit" class="button">Register</button>
        </div>
      </form>
    </div>
  </div>
</section>
