<section id="registration" class="registration">
  <div class="container">
    <div class="registration__global-case">
      <h2 class="registration__title title">Registration</h2>
      <form class="registration-form">
        <div class="registration-form__info-case">
          <p class="registration-form__time">May 23, 11:00 New York</p>
          <p class="registration-form__cost">$ 699</p>
        </div>
        <div class="registration-form__input-case">
          <p class="registration-form__descr">Apply your personal info for registration</p>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Your name" />
          </label>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Phone number" />
          </label>
          <label class="registration-form__label">
            <input type="text" class="registration-form__input" placeholder="Email" />
          </label>
        </div>
        <div class="registration-form__btn-case">
          <button type="submit" class="button">Register</button>
        </div>
        <picture class="registration-donut-hide">
          <source
            srcset="
              ./images/desktop/donut-3-desktop@2x.png 1x,
              ./images/desktop/donut-3-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="registration-donut__img"
            src="./images/desktop/donut-3-desktop@2x.png"
            alt="Eated donut"
            width="130"
          />
        </picture>
      </form>
      <picture class="registration-donut">
        <source
          srcset="
            ./images/tablet/donut-5-tablet=desktop.png    1x,
            ./images/tablet/donut-5-tablet=desktop@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="registration-donut__img"
          src="./images/tablet/donut-5-tablet=desktop.png"
          alt="Eated donut"
          width="250"
        />
      </picture>
    </div>
  </div>
</section>
