<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Reviews</h2>
    <ul class="reviews__list slider list">
      <li class="reviews__item slider__previous">
        <div class="reviews__frame" aria-label="photo"></div>
        <ul class="reviews__rate rate list">
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon rate--false" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name">John</h3>
      </li>
      <li class="reviews__item slider__current">
        <div class="reviews__frame" aria-label="photo"></div>
        <ul class="reviews__rate rate list">
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name">Will</h3>
      </li>
      <li class="reviews__item slider__next">
        <div class="reviews__frame" aria-label="photo"></div>
        <ul class="reviews__rate rate list">
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="rate__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name">Elisabeth</h3>
      </li>
    </ul>

    <article class="reviews__article">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
        the next one and highly recommend it to everyone!
      </p>
    </article>

    <div class="reviews__pagination pagination">
      <a type="button" class="e pagination__button" aria-label="foreground slide">
        <p class="button-line"></p>
      </a>

      <p class="pagination__count">2/15</p>

      <a class="pagination__button" aria-label="next slide">
        <p class="button-line"></p>
      </a>
    </div>
  </div>
</section>
