<ul class="socials list">
    <li class="socials__item">
        <a class="socials__link" href="">
            <svg width=24 height=19>
                <use href='../src/images/sprite.svg#icon-twitter'>

                </use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a class="socials__link" href="">
            <svg width=19 height=19>
                <use href='../src/images/sprite.svg#icon-instagram'>

                </use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a class="socials__link" href="">
            <svg width=10 height=19>
                <use href='../src/images/sprite.svg#icon-facebook'>

                </use>
            </svg>
        </a>
    </li>
</ul>