<div class="thx-modal">
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal--confetti"></div>
    <div class="thx-modal__form">
        <h3 class="thx-modal__title">сongratulations!</h3>
        <p class="thx-modal__text">You are registered for donut Masterclass with the Donut King</p>
        <p class="thx-modal__text">We will contact you shortly</p>
        <p class="thx-modal__text thx-modal__text--accent">May donut come with you!</p>
        <div class="btn-wrap">
            <button class="thx-button">ok</button>
        </div>
    </div>
</div>

